body {
  background-image: url('/background-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  font-family: 'Lobster', cursive;
}

.background-dynamic {
  background-image: url('/background-1.jpg'); /* mobile/tablette par défaut */
}

@media (min-width: 1024px) {
  .background-dynamic {
    background-image: url('/background-icones-desktop-1.png'); /* desktop */
  }
}
